	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-adjustment:before { content: "\f100"; }
.flaticon-allocation:before { content: "\f101"; }
.flaticon-allocation-1:before { content: "\f102"; }
.flaticon-arrow:before { content: "\f103"; }
.flaticon-arrow-1:before { content: "\f104"; }
.flaticon-assembly-area:before { content: "\f105"; }
.flaticon-black-and-white:before { content: "\f106"; }
.flaticon-brush-history:before { content: "\f107"; }
.flaticon-contrast:before { content: "\f108"; }
.flaticon-crop:before { content: "\f109"; }
.flaticon-crop-perspective:before { content: "\f10a"; }
.flaticon-curves:before { content: "\f10b"; }
.flaticon-drop:before { content: "\f10c"; }
.flaticon-eraser:before { content: "\f10d"; }
.flaticon-fragments:before { content: "\f10e"; }
.flaticon-free-transport:before { content: "\f10f"; }
.flaticon-group-selection:before { content: "\f110"; }
.flaticon-hand:before { content: "\f111"; }
.flaticon-history-brush:before { content: "\f112"; }
.flaticon-lasso:before { content: "\f113"; }
.flaticon-levels:before { content: "\f114"; }
.flaticon-line-tool:before { content: "\f115"; }
.flaticon-live-paint:before { content: "\f116"; }
.flaticon-magnifiying-glass:before { content: "\f117"; }
.flaticon-mirror:before { content: "\f118"; }
.flaticon-move-content:before { content: "\f119"; }
.flaticon-note:before { content: "\f11a"; }
.flaticon-paint-brush:before { content: "\f11b"; }
.flaticon-paint-brush-1:before { content: "\f11c"; }
.flaticon-paint-bucket:before { content: "\f11d"; }
.flaticon-paint-selection:before { content: "\f11e"; }
.flaticon-patch-crop:before { content: "\f11f"; }
.flaticon-pen:before { content: "\f120"; }
.flaticon-pen-1:before { content: "\f121"; }
.flaticon-pen-2:before { content: "\f122"; }
.flaticon-pencil:before { content: "\f123"; }
.flaticon-pipette:before { content: "\f124"; }
.flaticon-red-eye:before { content: "\f125"; }
.flaticon-ruler:before { content: "\f126"; }
.flaticon-scissors:before { content: "\f127"; }
.flaticon-search:before { content: "\f128"; }
.flaticon-sharpen:before { content: "\f129"; }
.flaticon-smudge:before { content: "\f12a"; }
.flaticon-spraying:before { content: "\f12b"; }
.flaticon-stamp:before { content: "\f12c"; }
.flaticon-stamp-1:before { content: "\f12d"; }
.flaticon-text:before { content: "\f12e"; }
.flaticon-tilt:before { content: "\f12f"; }
.flaticon-transition:before { content: "\f130"; }
.flaticon-turn:before { content: "\f131"; }